In [2]:
#pandas is a library and it contains the functions related to the database
import pandas as pd

In [4]:
dataset=pd.read_csv("Salary_Data.csv") #dataset file loading into read_csv function in pandas library and its assigned to dataset variable

In [5]:
dataset #This variable displaying the contents from dataset file

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
independent=dataset[["YearsExperience"]] #from the dataset, splitting years of experience coloumn as input and it assigned to independent variable
independent

In [9]:
dependent=dataset[["Salary"]] #from the dataset, splitting salary coloumn as output and it assigned to dependent variable
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [ ]:
from sklearn.model_selection import train_test_split 
# importing train_test_split function from model._selection module in the sklearn library for splitting trainingset and testset from dataset
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)
#independent and dependent variables are splitted as 30% testset & 70% trainingset, its assigned to four variables

In [12]:
from sklearn.linear_model import LinearRegression
#importing linearRegression class from Linear_model module in the sklearn library for create linear regression model
regressor=LinearRegression()
# Parameters passing into the model to predict dependent variable based on the independent variable and assigned to regressor variable
regressor.fit(X_train,y_train)
# Training datas feed into regression model, let it learn relationship between independent & dependent variable by .fit method

LinearRegression()

In [14]:
weight=regressor.coef_
#.coef_ attribute extract slopes from traind regression model and stored to weight variable
weight
#Display the values of slope which is stored in variable

array([[9360.26128619]])

In [15]:
bais=regressor.intercept_
#.intercept_ attribute is a constant value of the model, stored into bias variable
bais
#Display the values of bias which is stored in  variable

array([26777.3913412])

In [16]:
y_pred=regressor.predict(X_test)
# calculated weight and bias applying to to new set of input data to predict output value

In [17]:
from sklearn.metrics import r2_score
#importing r2_score function from.metrics module in sklearn library for evaluvate perfomance of the model
r_score=r2_score(y_test,y_pred)
#r2_score function capturing variablity between actual value and predicted value

In [18]:
r_score
#Showing result how well its predicted

0.9740993407213511

In [19]:
import pickle
#importing picke module for allow to save trained model as file and load it to back later
filename="finalized_model_linear.sav"
#creating filename with.sav extension (stock at valuation) assigned to variable

In [20]:
pickle.dump(regressor,open(filename,'wb'))
#the trained model saving as serialized to a file with write binary mode,that model stored into pickle for reuse without training

In [23]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
#from pickle module loading saved model,its open with read binary mode and assigned to a variable
result=loaded_model.predict([[13]])
#The linear regression model used to predict dependent variable of 13(independent variable)

C:\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [24]:
result
#display the prediction by input of 13

array([[148460.78806172]])